TEMPLATE_VMID=9024
TEMPLATE_NAME="ubuntu-2404-cloud-template"

IMAGE_URL="https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img"
IMAGE_FILE="noble-server-cloudimg-amd64.img"
IMAGE_DIR="/root/proxmox-cloud-images"

STORAGE="local-lvm"
BRIDGE="vmbr0"

MEMORY_MB=2048
CORES=2
DISK_SIZE="30G"

CIUSER="ubuntu"
SSHKEY_FILE="/root/.ssh/id_ed25519.pub"

START_AFTER_CREATE=true
ENABLE_SERIAL_CONSOLE=false

ALLOW_DESTROY_EXISTING=false
FORCE_IMAGE_DOWNLOAD=false

TEST_VMID=2100
TEST_NAME="ubuntu-2404-cloud-template-test"
